
#block_menu {
    border-radius: 30px;
    background: linear-gradient(to bottom, #3125a4 0%, #6159b6 95%);
    width: 60%;
    height: 600px;
    margin: 6% auto;
    padding: 1%;
    overflow: hidden;
    display: none;
    box-shadow: 0px 0px 10px #3125a4;
    animation: block_menu_anim 1s ease 1 normal running 0s forwards;
}

@keyframes block_menu_anim {
    0% {transform: scale(0.5);}
    35% {transform: scale(1.2);}
    100% {transform: scale(1);}}

#h1, .p1 {color: #ffffff;}
#h1 {text-align: center;}
.p1 {font-size: 120%;}

.img1 {border-radius: 10px; width: 60%; margin: auto; display: block;}
.img2 {border-radius: 10px; width: 50%; margin: auto; display: block;}

.block_p {animation: block_p_anim 1s ease 1 normal running 0s forwards;}
@keyframes block_p_anim {0% {opacity: 0;} 100% {opacity: 1;}}
.block_p:nth-child(2) {display: block; /*margin-top: 8%;*/}
.block_p:nth-child(3) {display: none;}
.block_p:nth-child(4) {display: none; margin-top: 8%}

#button1 {
    border-radius: 30px;
    background-color: #d86613;
    width: 130px;
    height: 45px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 15px;
    box-shadow: 1px 1px 2px black;
    transition: 0.1s;
}

#close {display: inline-block;}
#button1:active {background-color: orangered; right: 14px; bottom: 14px; box-shadow: 0px 0px 0px black;}
#button1:hover > #close {transition: 1s; transform: rotate(180deg);}
#button1::selection, #close::selection {background: transparent;}
